extends layout 

block content 
  h1= title 

  h4 Monster Inventory Metrics

  ul 
    li 
      p Total Families: #{family_count}
    li 
      p Total Monsters: #{monster_count}
    li 
      p Total Monster Instances: #{monster_instance_count}
    li 
      p Total Skills: #{skill_count}