extends layout 

block content
  div.monster-create-content
    form(method="POST" action="")
      div.form-section 
        label(for="name") Name:
        input#name(type="text" name="name" placeholder="Monster Name" required="true" value=(undefined===monster ? "" : monster.name)) 
        label(for="family") Family: 
        select#family(type="select", placeholder="Select Family" name="family" required="true" value=(undefined===monster ? "" : monster.family))
          each family in family_list
            if monster 
              option(value=family._id selected=(family._id.toString()===monster.family._id.toString() ? 'selected' : false)) #{family.name}
            else 
              option(value=family._id) #{family.name}
        label(for="info") Info: 
        textarea#info(name="info" placeholder="Monster info..." required="true" value=(undefined===monster ? "" : monster.info))
      div.form-section Skill Selection: 
        - var n = 0;
        ul.skills 
          while n < 3
            li 
              label(for=`skill_${n}`) #{n + 1} - 
              select(id=`skill_${n}` name=`skill_${n}`)
                option(value=null) None
                each skill in skill_list
                  if monster 
                    option(value=skill._id selected=(monster.skills[n]._id === skill._id)) #{skill.name}
                  else
                    option(value=skill._id) #{skill.name}
                else 
                  option No skills in database.
            - n++;
      div.form-section
        input#submit( type="submit" value="Submit Monster")
        if errors
          ul.errors
            for error in errors
              li!= error.msg