extends layout 

block content
  div.monsterinstance-create-content
    form(method="POST" action="")
      div.form-section 
        label(for="nickname") Nickname:
        input#nickname(type="text" name="nickname" placeholder="Nickname" required="true" value=(undefined===monsterinstance ? "" : monsterinstance.nickname)) 
        label(for="monster") Monster: 
        select#monster(type="select" name="monster" required="true")
          each monster in monster_list
            if monsterinstance 
              option(value=monster._id selected=(monster._id.toString()===monsterinstance.monster._id.toString() ? 'selected' : false)) #{monster.name}
            else 
              option(value=monster._id) #{monster.name}
        label(for="gender") Gender: 
        select#gender(type="select" name="gender" required="true")
          if monsterinstance
            option(value="male" selected=(monsterinstance.gender === "male" ? "selected" : false)) Male
            option(value="female" selected=(monsterinstance.gender === "female" ? "selected" : false)) Female
            option(value="none" selected=(monsterinstance.gender === "none" ? "selected" : false)) None
          else 
            option(value="male") Male
            option(value="female") Female
            option(value="none") None
      div.form-section.stats
        label(for="health") Health:
        input#health.stat(name="health" type="number" min=0 max=999 required="true" value=(undefined===monsterinstance ? "" : monsterinstance.health) )
        label(for="magic") Magic: 
        input#magic.stat(name="magic" type="number" min=0 max=999 required="true" value=(undefined===monsterinstance ? "" : monsterinstance.magic) )
        label(for="attack") Attack: 
        input#attack.stat(name="attack" type="number" min=0 max=999 required="true" value=(undefined===monsterinstance ? "" : monsterinstance.attack) )
        label(for="defense") Defense: 
        input#defense.stat(name="defense" type="number" min=0 max=999 required="true" value=(undefined===monsterinstance ? "" : monsterinstance.defense) )
        label(for="agility") Agility: 
        input#agility.stat(name="agility" type="number" min=0 max=999 required="true" value=(undefined===monsterinstance ? "" : monsterinstance.agility) )
        label(for="intelligence") Intelligence: 
        input#intelligence.stat(name="intelligence" type="number" min=0 max=999 required="true" value=(undefined===monsterinstance ? "" : monsterinstance.intelligence) )
      div.form-section Skill Selection: 
        - var n = 0;
        ul.skills 
          while n < 8
            li 
              label(for=`skill-${n}`) #{n + 1} - 
              select(id=`skill-${n}` name=`skill-${n}`)
                option(value=null) None
                each skill in skill_list
                  if monsterinstance
                    option(value=skill._id selected=(monsterinstance.skills[n]._id === skill._id)) #{skill.name}
                  else
                    option(value=skill._id) #{skill.name}
                else 
                  option No skills in database.
            - n++;
      div.form-section
        input#submit( type="submit" value="Submit Monster")