extends layout 

block content 
h1= title 

h4 Monster Inventory Metrics

ul 
  li 
    p Total Families: #{familyCount}
  li 
    p Total Monsters: #{monsterCount}
  li 
    p Total Monster Instances: #{monsterInstanceCount}
  li 
    p Total Skills: #{skillCount}