extends layout 

block content 
  div.skill-detail-content
    h2.name #{skill.name}

    p.info #[span Info:] #{skill.info}.
    p.magic-cost #[span MP Cost:] #{skill.magic_cost < 99 ? skill.magic_cost : "All"}

    a.update(href=`${skill.url}/update`) Update
    a.delete(href=`${skill.url}/delete`) Delete